/* Base styles */
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #070303;
  color: #fff;
  font-weight: 700;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100; 
  width: 100%;
}

.logo {
  font-size: 1.2rem;
  font-weight: bold;
  background-color: #8d783b;
  color: #000;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  text-transform: uppercase;
  letter-spacing: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-weight: 900;
}

.nav-links {
  display: flex;
  list-style: none;
  margin-right: 5%;
}

.nav-links li {
  margin-left: 4rem;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #ffca28;
}

.menu-toggle {
  display: none;
  cursor: pointer;  
}

/* Mobile view styles */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 4rem;
    left: 0;
    width: 100%;
    background-color: #070303;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .nav-links.active {
    display: flex;
    opacity: 1;
  }

  .nav-links li {
    margin: 1rem 0;
  }

  .menu-toggle {
    display: block;
    font-size: 1.8rem;
    color: #fff;
  }
}






/* Mobile-first responsive design */

/* Common styles */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.container {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #333;
  color: #fff;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 0 10px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
}

.menu-toggle {
  font-size: 24px;
  cursor: pointer;
  display: none;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 80px;
    left: 0;
    background-color: #333;
    width: 100%;
    text-align: center;
  }

  .nav-links.active {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }
}

/* Info Section */
.info {
  padding: 80px 5%;
  background-image: url('../../../assets/pppp.jpg');
  background-size: cover;
  text-align: center;
}

.info h1 {
  font-size: 30px;
  margin: 0;
  color: #fff;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.info p {
  font-size: 18px;
  color: #fff;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 10px 0;
}

.portbutton {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #cfbd86;
  border-radius: 8px;
  color: #cfbd86;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.portbutton:hover {
  background-color: #b19f69;
  color: #fff;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .info {
    padding: 40px 5%;
  }

  .info h1 {
    font-size: 24px;
    margin-top: 60px;
  }

  .info p {
    font-size: 16px;
    margin-left: 0;
  }

  .portbutton {
    margin-left: 0;
  }
}








.about {
  padding: 30px;
  background-color: #212529;
}

.about h2 {
  font-family:  Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  font-size: 42px;
  text-transform: uppercase;
  margin-top: 40px;
  margin-bottom: 10px;
  color: #8d783b;
}
.about h3{
  font-size: 40px;  
  margin-top: 15px;
  margin-bottom: 10px;
  color: #8d783b;
}
.about p {
  font-size: 20px;
  color: #ffff;
  line-height: 1.6;
  text-align: center;
}
.about p1 {
  color: #ffff;
  line-height: 1.6;
  font-size: 22px;
}
.contact-details h3 {
  font-size: 35px;
  margin-bottom: 10px;
}

.contact-details ul {
  /* list-style: none; */
  padding-left: 0;
  line-height: 2.5;
  font-family: 'Times New Roman', Times, serif; 

}

.contact-details li {
  font-size: 24px;
  color: #ffff;
  font-weight: 900;
}

.about-section {
  display: flex;
  align-items: center;
  gap: 20px;
  /* position: absolute; */
  margin-top: -550px;
  margin-left: 800px;
}

.about-image img {
  max-width: 400px; /* Adjust the image size as needed */
  border-radius: 50%;
  border:7px solid white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.nav-links li a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.nav-links li a:hover {
  color: #f39c12;
}

.nav-links li a.active {
  color: #f39c12;
  font-weight: bold;
}





.resume {
    background-color: #212529;
    color: #fff; 
  padding: 30px;
  padding-bottom: 5%;
}

.resume h2 {
  font-family:  Georgia, 'Times New Roman', Times, serif; 
  text-align: center;
  font-size: 42px;
  margin-top: 40px;
  margin-bottom: 10px;
  color: #8d783b;
  text-transform: uppercase;
}

.summ-and-exp{
display: flex;
}
.summary{
                   /* border: 3px solid #d6d5d1; */
  width: 100%;
}
.summary h1{
  font-family:  Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 10px;
  color: #8d783b;
}
.education{
  font-family:  Georgia, 'Times New Roman', Times, serif;
  font-size: 25px;
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 700;
}
.line{
  border: 0.1px solid white;
  margin-top: 2%;
  margin-bottom: 3%;
  width: 90%;
}
.summary-words{
  font-size: 130%;
  margin-bottom: 5%;
}
.summary li{
  margin-bottom: 1%;
  font-weight: 700;
}
.dg{
  font-family:  Georgia, 'Times New Roman', Times, serif;
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 10px;
  color: #8d783b;
}
.year{
  font-weight: 700;
  margin-bottom: 2%;
}



/* .experience{ */
  /* position: absolute; */
                    /* border: 3px solid #d6d5d1; */
  /* margin-left: 20%; */
/* } */
.experience h3{
  font-family:  Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 10px;
  color: #8d783b;
}
.experience p{
  margin-bottom: 5%;
}
.experience li{
  font-size: 23px;
  font-weight: 700;
  margin-bottom: 5%;
    
}

.resume p {
  font-size: 23px;
  color: #fff; 
  line-height: 1.6;
}
.resume-head{
  text-align: center;
  margin-bottom: 20px;
}

.resume ul {
  list-style-type: disc; 
  margin-left: 20px;
}

.resume a {
  color: #ffca28;
  text-decoration: none;
}

.resume a:hover {
  text-decoration: underline;
}





.projects{
    padding: 30px;
    background-color: #212529;
    color: #fff; 
}
.portfolio{
  font-family:  Georgia, 'Times New Roman', Times, serif; 
  text-align: center;
  font-size: 42px;
  margin-top: 40px;
  margin-bottom: 10px;
  color: #8d783b;
  text-transform: uppercase;
}
.project{
  font-family:  Georgia, 'Times New Roman', Times, serif; 
  text-align: center;
  font-size: 20px;
  color: #ffff;
  text-transform: uppercase;
}





.portfolio-footer {
  margin: 0;
  padding-top: 20px;
  padding: 40px; 
  background-color: black;
  color: white;
  text-align: center;
  font-size: 16px; 
}

.portfolio-footer p {
  margin: 0;
}
.footname{
  color: #8d783b;
}




.contact {
  padding: 30px;
  background-color: #212529;
  color: #fff;
}

.contact h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  font-size: 42px;
  margin-top: 40px;
  margin-bottom: 10px;
  color: #8d783b;
  text-transform: uppercase;
}

.contact-form {
  max-width: 500px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: 20px;
  color: #fff;
  margin-bottom: 5px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea {
  resize: vertical;
}

button {
  display: block;
  width: 100%;
  padding: 12px;
  font-size: 18px;
  color: #fff;
  background-color: #8d783b;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #b19f69;
}












body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
}

#portfolio {
  background-color: #212529;
}

#portfolio a {
  display: inline-block;
  padding: 10px 20px;
  margin-right: 10px;
  background-color: #8d783b;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

#portfolio a:hover {
  background-color: #afa074;
}

#portfolio .projects-link {
  margin-top: 20px;
}
.prjName{
  font-size: x-large;
  font-weight: 700;
  text-align: center;
}
.lang{
  text-align: center;
}
.prjLink{
  text-align: center;
  margin-bottom: 5%;
}